.containerMainHome{
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

.containerMainHome img{
  width: 25rem;
  margin-bottom: 3rem;
}

.containerMainHome h1{
  color: var(--title);
  font-weight: 900;
  font-size: 2rem;
}

.containerMainHome div{
  margin-top: 2rem;

  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.containerMainHome div a{
  display: flex;
  align-items: center;

  background-color: var(--orange2);

  height: 3rem;
  padding: 1.25rem;

  font-weight: bold;
  border-radius: 5px;

  color: var(--linkText);

  transition: background-color .2s;
}

.containerMainHome div a:hover{
  background-color: var(--orange);
}