.purchaseContainer{
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  

  background: url(../../../public/background.svg) no-repeat;
  background-size: cover;
  background-position: center;


  padding: 0 2rem;
}


.purchaseContainer a {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;


  font-size: 1rem;
  font-weight: bold;

  
  position: absolute;
  top: 1.5rem;
  left: calc(50% - 10rem);

  transition: opacity .2s;
}

.purchaseContainer a:hover{
  opacity: 0.9;
}

.purchaseContainer a svg{
  color: red;
  margin-right: 2px;
}

.purchaseContainer form{
  display: flex;
  justify-content: center;
  align-items: center;
}



.purchaseContainer form img{
  position: absolute;
  left: 0;
}

.purchaseContainer form div{
  z-index: 1;
  width: 27rem;
  height: 30rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  border-radius: 5px;

  background: var(--background2);
}

.purchaseContainer form div h1{
  font-weight: 900;
  color: #fff;
  margin-bottom: 1.25rem;
  font-size: 2rem;
}

.purchaseContainer form div input{
  width: 100%;
  max-width: 270px;

  height: 3rem;
  padding: 1.25rem 1rem;

  border-radius: 5px;
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

  font-weight: 500;
  font-size: 1.25rem;

  margin-bottom: 1rem;
}

.purchaseContainer form div button{
  width: 100%;
  max-width: 270px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  padding: 1.25rem;

  border: 0;
  border-radius: 5px;
  background-color: var(--orange2);
  color: var(--linkText);

  font-weight: bold;

  margin-top: 1.25rem;

  transition: background-color .2s;
}

.purchaseContainer form div button:hover{
  background-color: var(--orange);
}


.purchaseContainer div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchaseContainer > div > div{
  z-index: 1;
  width: 40rem;
  height: 30rem;

  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  border-radius: 5px;

  background: var(--background2);

}

@media(max-width:1200px){
  .purchaseContainer{
    flex-direction: column;
  }

  .purchaseContainer form{
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}

@media(max-width:650px){
  .purchaseContainer > div > div{
    width: 95%;
  }

  .purchaseContainer form{
    width: 90%;
  }

  .purchaseContainer > div > div ol li > div{
    height: 4rem;
  }

  .purchaseContainer > div > div ol li > div button{
    height: 0.75rem;
    width: 0.75rem;
  }
}


.purchaseContainer div ol{
  overflow: auto;
  width: 100%;
  margin-top: 1.25rem ;
  flex: 1;

  border-radius: 5px;

  padding: 0.5rem 3rem;

}

.purchaseContainer div >  div .total{
  width: 80%;

  height: 4rem;
  padding: 1.25rem 1rem;

  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background: #fff;

  margin-top: 1rem;
}


.purchaseContainer div >  div >div h1{
  font-weight: 900;
  font-size: 2rem;
}

.purchaseContainer > div > div ol li{
  width: 100%;
  color: #fff;

  font-weight: 700;
  font-size: 1.25rem;

  margin-bottom: 1.25rem;
}

.purchaseContainer > div > div ol li > div{
  width: 100%;

  display: flex;
  justify-content: space-between;

  font-weight: 700;
  font-size: 1.25rem;
}

.purchaseContainer > div > div ol li > div button{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  width: 2rem;

  background: var(--orange2);

  border: 0;
  border-radius: 5px;

}


.purchaseContainer > div > div ol li > div button svg{
  color: black;
  
}
