.purchaseContainer{
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  

  background: url(../../../public/background.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.purchaseContainer a {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;


  font-size: 1rem;
  font-weight: bold;

  
  position: fixed;
  bottom: 2rem;
  left: calc(50% - 10rem);

  transition: opacity .2s;
}

.purchaseContainer a:hover{
  opacity: 0.9;
}

.purchaseContainer a svg{
  color: red;
  margin-right: 2px;
}

.purchaseContainer form{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.purchaseContainer form img{
  position: absolute;
  left: 1rem;
}

.purchaseContainer form div{
  z-index: 1;
  width: 25rem;
  height: 30rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  border-radius: 5px;

  background: var(--background2);
}

.purchaseContainer form div h1{
  font-weight: 900;
  color: #fff;
  margin-bottom: 1.25rem;
}

.purchaseContainer form div input{
  width: 100%;
  max-width: 270px;

  height: 3rem;
  padding: 1.25rem 1rem;

  border-radius: 5px;
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

  font-weight: 500;
  font-size: 1.25rem;

  margin-bottom: 1rem;
}

.purchaseContainer form div button{
  width: 100%;
  max-width: 270px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  padding: 1.25rem;

  border: 0;
  border-radius: 5px;
  background-color: var(--orange2);
  color: var(--linkText);

  font-weight: bold;

  margin-top: 1.25rem;

  transition: background-color .2s;
}

.purchaseContainer form div button:hover{
  background-color: var(--orange);
}


.purchaseContainer div{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchaseContainer > div > div{
  z-index: 1;
  width: 25rem;
  height: 30rem;

  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  border-radius: 5px;

  background: var(--background2);

  overflow: auto;
}

.purchaseContainer div ol{
  margin-top: 1.25rem ;
  flex: 1;
}

.purchaseContainer div >  div >div{
  width: 100%;

  height: 3rem;
  padding: 1.25rem 1rem;

  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background: #fff;

  font-weight: 500;
  font-size: 1.25rem;

}

.purchaseContainer div div ol li{
  color: #fff;
}

.purchaseContainer div img{
  position: absolute;
  right: 1rem;
}